.text{
    font-family: 'Montserrat Alternates';
    text-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4);
}

body{
    margin: 0px;
}

.speshel-text{
    font-family: 'copilot';
}

.montserrat-alternates-regular {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'copilot';
    src: url(./fonts/copilot.ttf);
}

header{
    background: url(./imgs/IMG_7091\ 1.png);
    background-attachment: fixed;
    width: 100%;
    height: 1305px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header-center-part{
    width: 1420px;
    height: 859px;
    border: 2px solid rgb(255, 255, 255, 0.35);
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#logo{
    font-size: 600px;
    text-align: right;
    margin-left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    transform: translateX(28px);
    background: linear-gradient(90deg, rgba(231,75,10,1) 0%, rgba(194,5,5,1) 100%);
    -webkit-background-clip: text;
    color: transparent;
    
}